.Header {
    background: #0f305d;
}

.Footer {
    background: #0f305d;
}

.Content {
    padding: 50px 3%;
}

.Icon {
    color: #0f305d;
}

.Inline {
    display: inline-block;
    margin-right: 10px;
}

.Danger {
    background: red;
    border-color: red;
}

.Edit {
    background-color: orange;
    border-color: orange;
}

.Save {
    background-color: green;
    border-color: green;
}
